@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <style>
        p {
            color: white;
            font-weight:100;
        }

            p.bold {
            font-weight:bold;
            }

            p.font-header {
                font-family: Hanson;
                font-size: 75px;
                line-height: 0.8;
            }

        img {
            width: 570px;
            height:auto;
        }
        div.img{
            position:absolute;
            margin-left: 23%;
            margin-top: -1%;
        }

        div.margin-table {
            margin-top: 3%;
        }
        div.button{
            position:absolute;
            margin-left:30%;
            margin-top:16%;
        }
        .button-custom {
        width:200px;
        height:45px;;
        }
        div.body{
            margin-bottom:30%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm margin-table">
                <table border="0" width="75%" align="center">
                    <thead>
                        <tr>
                            <th>
                                <p class="font-header">COMING<br>SOON.</p>
                                <p style="font-family:Hanson;">Personal Project</p>
                                <p style="line-height:0;">
                                    Hello World! I am Bagas Wijaya.
                                </p>
                            </th>
                            <th>
                                <p class="font-header">&nbsp;<br>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p class="bold">I hope you like it.</p>
                            </th>
                            <th width="11%"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="img">
                <img src="~/img/bg.png" />
            </div>
        </div>
        <div class="button">
            <button class="btn btn-warning rounded-pill button-custom text-light">
                Get Started
            </button>
        </div>
    </div>

    @*<div class="container bg-position">
            <div class="bg-img">
                <img class="responsive" src="https://ouch-cdn2.icons8.com/RMPGKCBD_PlUF95ClmFx459J0d6K3ck_jSpVoNyuV4s/rs:fit:1082:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNjU2/LzhlZDBiYWE1LWY2/NjYtNGY5OC1iOTc3/LWExMDgzNTdlMWQx/Mi5wbmc.png" width="612" height="515">
            </div>
            <div class="text-left bg-text text-bg-color">
                    <h1 class="display-4">COMING<br>SOON.</h1>
                    <p style="font-family:Hanson;">Personal Project</p>
                    <p style="line-height:0;">
                        Hello World! I am Bagas Wijaya. &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &nbsp;
                        I hope you like it.
                    </p>
            </div>


        </div>*@
</body>
</html>


